EULA_AGREED=yes
PRIVACY_POLICY_AGREED=yes
USE_KSN={{ 'yes' if kesl_use_ksn else 'no' }}
SERVICE_LOCALE=ru_RU.UTF-8
INSTALL_LICENSE=
UPDATE_EXECUTE=no
UPDATER_SOURCE={{ kesl_update_source }}
ENABLE_GUI=no
KSC_MODE=yes
