KLNAGENT_SERVER={{ ksc_server_fqdn }}
KLNAGENT_SERVER_PORT={{ ksc_agent_port }}
KLNAGENT_SERVER_SSL_PORT={{ ksc_agent_port }}
KLNAGENT_USE_SSL=1
KLNAGENT_GW_MODE=0
EULA_AGREED=yes
PRIVACY_POLICY_AGREED=yes
